<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <a class="navbar-brand" href="#">Code</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" >Leaderboard</a>
      </li>
    </ul>
    <div fxFlex fxLayoutAlign="center center">
      <app-search-bar class="align-self-center"></app-search-bar>
    </div>
    <ul class="navbar-nav ms-auto" *ngIf="user">
      <li class="notifications">
        <a [routerLink]="['/notifications']" class="nav-link"
                matBadge="{{notificationCount}}" matBadgePosition="before" matBadgeColor="accent">
          <fa-icon [icon]="faBell" size="2x"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile/' + user?.id]">Profile</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()">Logout </button>
      </li>
    </ul>
  </div>
</nav>
<app-conversation-box *ngIf="_authService.actual() != null"></app-conversation-box>
