<app-header class="w-100"></app-header>
<div class="row m-0">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h3 (click)="$event.stopPropagation()" align="center" fxLayoutAlign="center">Notifications</h3>
    <div *ngIf="this.friendshipRequestReceived?.length + this.groupRequestsAdmin?.length == 0">
      <p> Vous n'avez pas de notifications</p>
    </div>
    <div *ngIf="this.friendshipRequestReceived?.length + this.groupRequestsAdmin?.length != 0">
        <app-card-user-ask-join-group (click)="$event.stopPropagation()"
                                        *ngFor="let groupRequestAdmin of groupRequestsAdmin"
                                        [groupRequest]="groupRequestAdmin"
                                      (removeCard)="removeCard($event)"
        ></app-card-user-ask-join-group>
        <app-user-card (click)="$event.stopPropagation()"
                       *ngFor="let request of friendshipRequestReceived"
                       [user]="request.sender"
                       (removeUser)="removeReceiveFriendshipRequest(request)"
        ></app-user-card>


    </div>
    <mat-divider></mat-divider>
    <H2 align="center" fxlayoutalign="center">Invitation envoyé</H2>
    <div *ngIf="this.friendshipRequestSent?.length == 0">
      <p> Vous n'avez pas envoyer de demande d'amis</p>
    </div>
    <div *ngIf="this.friendshipRequestSent?.length != 0">
      <app-user-card (click)="$event.stopPropagation()"
                     *ngFor="let request of friendshipRequestSent"
                     [user]="request?.user"
                     (removeUser)="removeSentFriendshipRequest(request)"
      ></app-user-card>
      <app-group-card (click)="$event.stopPropagation()"
                      *ngFor="let groupRequest of groupRequests"
                      [group]="groupRequest?.group"
                      (removeGroupCard)="removeSentGroupRequest(groupRequest)"
      ></app-group-card>
    </div>
  </div>
  <div class="col-md-4 my-3 d-none d-sm-block d-sm-block d-sm-none d-md-block">

  </div>
</div>
