
.home__image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home__box2 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: grey;

}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

}
