<app-header></app-header>
<div class="event__main">
  <h1>{{event?.name}}</h1>
  <h5 class="event__desc">{{event?.description}}</h5>

  <div class="event-part-one">
    <div *ngIf="timerState"  class="timer"><b [chronometer]="chronometer"></b></div>
    <button *ngIf="!event?.isMember" class="start__button" (click)="startEvent()">START TIMER
    </button>
  </div>

</div>
<div class="loader" *ngIf="loadingExec"></div>
<div *ngIf="timerState"  class="event__body ">
  <div class="event__exercise ">
    <app-event-exercise [description]="currentExercise?.exerciseTemplate?.description">
    </app-event-exercise>
  </div>
  <div class="event__ide ">
    <app-event-ide (execCode)="executeCode()" [loadingExec]="loadingExec"></app-event-ide>
  </div>
  <div class="classement-part">
    <div class="event-ranking-div">
      <H3 align="center">Classement - {{currentExercise?.exerciseTemplate?.name}}</H3>
<!--      {{exercise?.name}}-->
      <app-card-leaderbord [leaderboards]="this.currentExercise?.leaderboards"></app-card-leaderbord>
    </div>
  </div>
</div>
<div class="classement-part ">
  <div class="event-ranking-div">
    <H3 align="center">Classement - {{event?.name}}</H3>
    <app-card-event-ranking [eventRankings]="event?.eventRanking"></app-card-event-ranking>
  </div>
</div>


