<app-header></app-header>

<div class="event__main">
  <h1>{{event?.name}}</h1>
  <h5 class="event__desc">{{event?.description}}</h5>

  <div class="event-part-one">
    <div class="timer">{{ timer | date: '00:00:00' }}</div>
  </div>

</div>

<div class="event__body">
  <div class="event__exercise">
    <app-event-exercise></app-event-exercise>
  </div>
  <div class="event__ide">
    <app-event-ide></app-event-ide>
  </div>
  <div class="classement-part">
    <div class="event-ranking-div">
      <H3 align="center">Classement </H3>
<!--      {{exercise?.name}}-->
      <app-card-leaderbord [leaderboards]="this.leaderboards"></app-card-leaderbord>
    </div>
  </div>

</div>
<div class="classement-part">
  <div class="event-ranking-div">
    <H3 align="center">Classement Event</H3>
    <app-card-event-ranking [eventRankings]="event?.eventRanking"></app-card-event-ranking>
  </div>
</div>


