.event__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event__desc {
  max-width: 75vw;
}

.timer {
  border-radius: 5px;
  border: 1px solid black;
  color: red;
  padding: 5px 10px;
}

.classement-part {
  margin-top: 30px;
  width: 100%;
  border-top: 3px solid #000000;
  height: 400px;
  box-shadow: black;
}

.event__body {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 0.5fr 3.5fr 1.5fr;
  gap: 1rem;
  padding: 1rem;
  box-shadow: black;
}

.event__exercise {

}

.event__ide {

}

.event-ranking-div {
  padding: 1rem;
}

.start__button {
  margin-top: 0.5rem;
  font-size: 12px;
  width: 100%;
  background: red;
  color: white;
  border-radius: 7px;
}
