.sticky-offset {
  top: 85px;
}

.coll-center {
  margin-top: 200px;
}

.timeline__main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
}

.post__card {

}

.group__card {
  height: 200px;
  padding: 1rem;
}

.timeline__post {
  padding-left: 5rem;
  padding-right: 5rem;
}

.timeline__post p{
  padding-top: 2rem;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
