<app-header class="w-100"></app-header>

<div class="p-3">
  <h1 class="create-event-title" mat-dialog-title>Création d'un Exercise Template</h1>
  <hr>
  <form [formGroup]="newExerciseTemplate" >

    <div class="template__body">

      <div class="d-flex flex-column justify-content-center create__field ps-1 pe-5">

        <h3>Entrer le nom de l'exercice</h3>

        <mat-form-field appearance="fill" class="pb-5">
          <mat-label>Nom de l'Exercise_template</mat-label>
          <input matInput name="name" placeholder="Nom de l'exercise_template" formControlName="name" required>
        </mat-form-field>

        <h3>Entrer la description de l'exercice</h3>

        <mat-form-field appearance="fill">
          <mat-label>Description de l'exercice</mat-label>
          <textarea formControlName="description" class="textarea-description" matInput name="description" placeholder="Ex. L'obejectif est ..."></textarea>
        </mat-form-field>
      </div>
      <div class="shadow">
        <app-admin-ide class="ide"></app-admin-ide>
      </div>

      <div class="ps-5">
        <h3>Selectionner un langage</h3>
        <mat-form-field appearance="fill">
          <mat-label>Langage</mat-label>
          <mat-select [(value)]="languageSelected">
            <mat-option *ngFor="let language of languages" [value]="language">
              {{language.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <hr>
    <button class="m-1" mat-raised-button (click)="onClickSubmit()">Créer</button>
  </form>
</div>
