<h1 *ngIf="data.group != null" class="create-event-title" mat-dialog-title>Création d'un événement
  par {{data.group.name}}</h1>
<h1 *ngIf="data.group === null" class="create-event-title" mat-dialog-title>Création d'un événement</h1>
<mat-divider></mat-divider>
<form [formGroup]="newEventForm">
  <div mat-dialog-content>
    <div class="create-event-grid">
      <div class="form-field-name-event">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'Évènement</mat-label>
          <input matInput name="name" placeholder="Nom de l'Évènement" formControlName="name" required>
        </mat-form-field>
      </div>
      <div class="form-field-date-picker-start">
        <mat-form-field appearance="fill">
          <mat-label>Entrer les dates de début et de fin</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="startDate" placeholder="Start date">
            <input matEndDate formControlName="endDate" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
    <div class="select-exercise-template">
      <mat-form-field appearance="fill">
        <mat-label>ExerciceTemplate</mat-label>
        <mat-select [formControl]="exerciseTemplatesControl" multiple>
          <mat-option *ngFor="let exerciseTemplate of exerciseTemplates" [value]="exerciseTemplate">{{exerciseTemplate?.name}} - {{exerciseTemplate?.language?.name}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <mat-divider></mat-divider>
    <div class="form-field-description" style="width: 100%">
      <mat-form-field>
        <mat-label>Description de l'Évènement</mat-label>
        <textarea formControlName="description" class="textarea-description" matInput
                  name="description" placeholder="Ex. L'Évènement se ..."></textarea>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="form-field-create-picture">
      <a (click)="pictureInput.click()">
        <img [src]="pictureURL || '../../../../assets/images/no-image.png'" alt=""
             class="rounded"
             height="300px"
             style="object-fit: cover" width="100%">
      </a>
      <input #pictureInput (change)="onPictureSelected()" formControlName="picture" hidden id="picture"
             name="picture"
             type="file">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-actions-create-event" mat-dialog-actions>
    <div class="button-grid-create-event">
      <div class="button-cancel">
        <button (click)="onNoClick()" mat-button type="button">Annuler</button>
      </div>
      <div class="button-send">
        <button class="button-send" mat-raised-button (click)="onSubmitEvent()">Envoyer</button>
      </div>
    </div>
  </div>
</form>
