<!--<div class="code__page">-->
<!--  <app-header></app-header>-->
<!--  <div>-->
<!--    <h2 class="ms-4 p-2">Choisis ton Language</h2>-->
<!--    <hr>-->
<!--    <div class="code__card">-->
<!--      <div class="card" (click)="goToSendBox()">-->
<!--        <div class="additional">-->
<!--          <div class="user-card">-->
<!--            <div class="test__img">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="more-info">-->
<!--            <h1>SandBox</h1>-->
<!--            <p>test sandbox</p>-->
<!--            <div class="coords">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="general">-->
<!--          <h1>SandBox</h1>-->
<!--          <div class="">-->
<!--            <p>test sandbox</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="additional">-->
<!--          <div class="user-card">-->
<!--            <div class="test__img">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="more-info">-->
<!--            <h1>Python</h1>-->
<!--            <p>test python</p>-->
<!--            <div class="coords">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="general">-->
<!--          <h1>Python</h1>-->
<!--          <div class="">-->
<!--            <p>test python</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

